body {
  margin: 4rem;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: helvetica; }

@keyframes moveInTop {
  0% {
    transform: translateY(-8rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    transform: translateY(8rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.heading-primary {
  font-size: 8rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.5rem;
  animation: moveInTop 2s; }

.heading-secondary {
  font-size: 5rem;
  color: #fff;
  margin: 0;
  text-transform: uppercase; }

.heading-tertiary {
  font-size: 1.5rem;
  color: #2F2440; }

.center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.margin-top-medium {
  margin-top: 4rem; }

.margin-top-big {
  margin-top: 8rem; }

.margin-top-ultimate {
  margin-top: 10rem; }

.margin-top-extreme {
  margin-top: 18rem; }

.margin-bottom-big {
  margin-bottom: 20rem; }

.margin-bottom-medium {
  margin-bottom: 15rem; }

.about {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
  height: 75vh;
  padding-top: 11rem;
  margin-top: -11rem;
  letter-spacing: .1rem; }
  .about__text {
    text-align: center;
    letter-spacing: 2rem; }
  .about__textbox {
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 1%;
    transition: ease-in-out .3s;
    height: 20rem; }
    .about__textbox:hover {
      transform: scale(1.05); }
    .about__textbox--headingthree {
      margin-left: 2rem; }
    .about__textbox--paragraph {
      margin-left: 2rem;
      margin-right: 2rem;
      font-size: 1.2rem; }

.projects {
  background-image: linear-gradient(to right bottom, #BA0F30, #FF2511);
  height: 85vh;
  padding-top: 8rem;
  margin-top: -8rem;
  letter-spacing: .1rem; }
  .projects__box {
    background-color: purple; }

.project-body {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat; }

.project {
  background-color: black;
  width: 40%;
  height: 40%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  background-size: cover;
  background-repeat: no-repeat; }
  .project__img {
    width: 100%;
    height: 100%; }
  .project__heading {
    text-align: center;
    font-size: 5rem;
    font-weight: bolder;
    color: #fff; }
  .project__more {
    position: absolute;
    bottom: -100px;
    right: 10px;
    background-color: #BA0F30;
    text-decoration: none;
    padding: 2rem;
    font-size: 2rem;
    color: white; }
    .project__more:hover {
      background-color: black;
      border-radius: 5%; }

.contact {
  padding: 30rem 0;
  position: relative; }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/scotland.jpg);
  background-size: cover;
  border-radius: .3rem;
  box-shadow: 0 1.5 4rem rgba(0, 0, 0, 0.2);
  height: 40rem; }
  .book__form {
    width: 50%;
    padding: 1rem; }

.description {
  color: white;
  font-size: 2rem;
  margin-top: 30%;
  position: fixed; }

.detail-body {
  background-image: linear-gradient(to right bottom, #BA0F30, #FF2511);
  height: 85vh;
  position: relative; }

.return {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2rem;
  background-color: black; }
  .return a {
    color: white;
    text-decoration: none; }

.about-body {
  background-image: linear-gradient(to right bottom, #BA0F30, #FF2511);
  height: 100vh; }

.aboutpage {
  background-color: #fff;
  border-radius: 1%;
  box-shadow: 0 1.5 4rem rgba(0, 0, 0, 0.2);
  height: 30rem;
  text-align: center;
  font-size: 1.5rem; }
  .aboutpage__skilllist {
    list-style: none;
    text-align: center; }
  .aboutpage__skillitem {
    font-size: 1.5rem;
    text-align: center;
    margin-left: -3rem;
    margin-bottom: 1rem; }

.contact-body {
  background-image: linear-gradient(#BA0F30, #2F2440);
  height: 100vh; }

.contacts {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
  height: 27.2rem;
  padding: 1rem; }
  .contacts__phone {
    font-size: 4rem;
    text-align: center; }

.iconfb {
  display: inline-block;
  background-color: white;
  border-radius: 10%;
  margin-right: 3rem; }
  .iconfb__logo-facebook {
    font-size: 10rem;
    color: #2a2a63;
    transition: .2s; }
    .iconfb__logo-facebook:hover {
      transform: scale(1.2); }

.iconig {
  display: inline-block;
  background-color: white;
  border-radius: 10%;
  margin-right: 3rem; }
  .iconig__logo-instagram {
    font-size: 10rem;
    color: #e1306c;
    transition: .2s; }
    .iconig__logo-instagram:hover {
      transform: scale(1.2); }

.icontw {
  display: inline-block;
  background-color: white;
  border-radius: 10%; }
  .icontw__logo-twitter {
    font-size: 10rem;
    color: #38A1F3;
    transition: .2s; }
    .icontw__logo-twitter:hover {
      transform: scale(1.2); }

.iconalign {
  text-align: center;
  margin-top: 7rem; }

.error {
  color: red;
  font-size: 2rem;
  margin-bottom: 6rem; }

.cms {
  background-image: linear-gradient(#ffb900, #ff7730);
  height: 50rem;
  transition: all .2s;
  box-shadow: 2rem 1.5rem 4rem rgba(255, 255, 255, 0.2); }
  .cms:hover {
    transform: translateY(0.5rem); }
  .cms__heading {
    font-size: 3rem;
    text-align: center;
    padding-top: 2rem; }
  .cms__paragraph {
    font-size: 2rem;
    text-align: center; }
  .cms__button {
    margin-top: 20rem;
    margin-left: 7rem; }
    .cms__button:active {
      visibility: hidden; }

.admin-body {
  background-color: black; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(47, 36, 64, 0.8), rgba(198, 183, 155, 0.8)), url(../img/header_bg.jpg);
  position: relative;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%); }
  .header__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin-top: -5rem; }
  .header__img {
    border-radius: 50%;
    margin-top: 5rem;
    width: 20%;
    height: 20%;
    margin-bottom: 2rem;
    transition: .2s; }
    .header__img:hover {
      transform: scale(1.1); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#C6B79B, #2F2440);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  font-size: 3rem;
  padding: 1rem 2rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s;
  display: inline-block; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #BA0F30;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0; }

.footer {
  background-color: #333;
  padding: 10rem 0 13rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto;
    border-radius: 50%;
    border: 2px solid white; }
  .footer__navigation {
    border-top: 0.1rem solid #999;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
    background-color: #333; }
    .footer__link:link:not(:last-child), .footer__link:visited:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:hover, .footer__link:active {
    color: #BA0F30;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 0.1rem solid #999;
    padding-top: 2rem;
    width: 80%;
    float: right; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 2rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.btn--white {
  color: #333;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.nav {
  position: fixed;
  top: 10%;
  right: 5%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  z-index: 2000; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    color: black;
    font-size: 2rem;
    height: 52rem;
    transition: all 1.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem black; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #C6B79B, #2F2440); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #C6B79B, #2F2440); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #C6B79B, #2F2440); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/calc_overview.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/radiogaga_overview.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/gameworld_overview.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 70%; }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 75%; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font-size: 2.5rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .8;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form {
  height: 40%; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.5rem;
    color: inherit;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: .2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: .3rem solid transparent;
    width: 65%;
    display: block; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: .3rem solid green; }
      .form__input:focus:invalid {
        border-bottom: 0.3rem solid #FF2511; }
    .form__input::-webkit-input-placeholder {
      color: #999; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.composition {
  position: relative;
  width: 40%; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .2rem;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem;
      height: 400px;
      width: 400px; }
    .composition__photo--p2 {
      right: -1rem;
      top: 2rem;
      height: 400px;
      width: 400px; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem;
      height: 400px;
      width: 400px; }
    .composition__photo:hover {
      outline: 1.5rem solid black;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.inlog-body {
  background-color: #2f2f2f;
  margin: 0;
  padding: 0; }

.error {
  color: maroon; }

.login-body {
  background-color: #2f2f2f;
  margin: 0;
  padding: 0; }

.index-body {
  background-color: #2f2f2f;
  margin: 0;
  padding: 0; }

.form-group {
  margin-bottom: 0px !important; }

.container {
  /* background-color: #9e9e9e; */
  padding: 0;
  margin-bottom: 50px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; }

.welcome-message {
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-family: helvetica;
  font-weight: bold; }

.welcome-body {
  background-color: #2f2f2f; }

table {
  margin-left: auto;
  margin-right: auto;
  width: 400px; }

.inlog-form input {
  display: inline-block;
  width: 300px;
  border-radius: 25px; }

.sign-up-button {
  width: 150px;
  border-radius: 25px;
  background-color: black; }

.sign-up-button:hover {
  background-color: maroon; }

.zipcode-a {
  width: 200px !important; }

.zipcode-b {
  width: 100px !important; }

label {
  color: white;
  font-family: helvetica;
  font-size: 18px; }

.register-bottom {
  text-align: center;
  background-color: white;
  width: 500px;
  margin-top: 20px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: auto;
  margin-right: auto; }

.login-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-top: 100px;
  background-color: #9e9e9e; }

.register-container {
  background-color: #9e9e9e;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; }

.register-top {
  text-align: center;
  background-color: #732300;
  width: 500px;
  height: 80px;
  font-family: helvetica;
  margin-bottom: 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px; }

.register-top h1 {
  font-size: 50px;
  padding-top: 10px;
  color: white; }

.credentials-container {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
  background-color: maroon; }
