//COLORS

$color-primary-reddish: #BA0F30;
$color-primary-red: #FF2511;
$color-primary-sand: #C6B79B;
$color-primary-purple: #2F2440;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-secondary-light: #ffb900;
$color-secondary-light-1: #ff7730;

//COLORS BLACK/WHITE

$color-white: #fff;
$color-black: black;

//GRID 

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-small: 6rem;


