.form {

    height: 40%;

    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        color: inherit;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border-radius: .2rem;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: .3rem solid transparent;
        width: 65%;
        display: block;

   

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: .3rem solid green;

            &:invalid {
                border-bottom: .3rem solid $color-primary-red;
            }
        }

        

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }

    
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
    
}