.section-about {
    height: 90vh;
    width: 100%;
    background-color: $color-grey-light-1;
    margin-top: -11rem;
    position: relative;
    z-index: -1;

    &__aboutdiv {
        background-color: $color-primary-sand;
        border-radius: 2%;
        padding: 1rem;
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
      
        &:hover {
            color: green;
        }
    }
}

